<div class="columns">

  <div class="column is-12 is-offset-one-fifth">
    <h1 class="title is-1">Evaluación nutricional de la embarazada</h1>
  </div>

</div>


<div class="columns">

  <div class="column is-one-fifth is-offset-one-fifth">

    <span>Ingresar peso (kilogramos)</span>
    <input class="input is-primary" type="number" [(ngModel)]="inputPeso" (change)="IMC = 0">
    <br/>

    <!-- <span>Ingresar semana de gestación</span>
    <input class="input is-primary" type="number" min="7" [(ngModel)]="inputSemana">
    <br/> -->

    <button class="button is-success" (click)="calcularIMC()" [disabled]="IMC !== 0">Calcular IMC</button>
    

  </div>

  <div class="column is-one-fifth">

    <span>Ingresar talla (metros)</span>
    <input class="input is-primary" type="number" [(ngModel)]="inputTalla" (change)="IMC = 0">
    <br>

    <h2 class="title">IMC = <b>{{ IMC.toFixed(2) }}</b></h2>

  </div>

</div>

<div class="columns">

  <div class="column is-12 is-offset-one-fifth">

    <button class="button is-success">Guardar archivo</button>
    <button class="button is-info" (click)="graphVisible = 'block'" *ngIf="graphVisible === 'none'">Ver gráfico</button>
    <button class="button is-danger" (click)="graphVisible = 'none'" *ngIf="graphVisible === 'block'">Ocultar gráfico</button>
    
    <div style="width: 800px; height: 400px;" [style.display]="graphVisible">
      <canvas id="myChart"></canvas>
    </div>

    <button class="button is-success" (click)="agregar()" [disabled]="IMC <= 0" tooltip="hola">
      <div class="tooltip">Agregar IMC
        <span class="tooltiptext" style="width: 220px;" *ngIf="IMC <=0">Es necesario calcular el IMC</span>
      </div>
    </button>

  </div>

</div>




